*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e3f2fd;
}

.wrapper{
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background: #141414;

}

.wrapper header{
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    font-size: 1.6rem;
}

.volume-slider input{
    accent-color: #fff;
}

.Key-checkbox input{
    width: 50px;
    height: 25px;
    cursor: pointer;
    appearance: none;
    border-radius: 30px;
    position: relative;
    background: #4b4b4b;

}

.Key-checkbox input::before{
    content: "";
    height: 20px;
    width: 20px;
    top:2px;
    border-radius: inherit;
    position:absolute;
    background: #8c8c8c;
    transition: all 0.3s ease;
}

.Key-checkbox input:checked::before{
    left: 30px;
    background: #fff;

}

.piano-keys{
    display: flex;
    margin-top: 40px;
    margin-left: 30px;
    list-style: none;
    color: #a2a2a2;
}

.key-black{
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    background: linear-gradient(#333, #000);
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: end;
    text-transform: uppercase;

}


.key-black.active{
    box-shadow: inset -5px 5px 10px rgba(255,255,255,0.1); 
    background: linear-gradient(to bottom, #000 0%, #434 100%);

}


.key-white{
    width: 70px;
    height: 230px;
    border-radius: 8px;
    background: linear-gradient(#fff 96%, #eee 4%);
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: end;
    text-transform: uppercase;
}


.key-white.active{
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2); 
    background: linear-gradient(to bottom, #fff 0%, #9d9a9a 100%);

}